*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.svn

talkTV30/build/
videoPlayerLibrary_line/build/
offlinecachelibraryprojectTest/build/
cachingwhileplaying/build/
LetvT1/build/
LetvT3/build/
QRScanner/build/
alimama_library/build/
alipay_lib/build/
payLibrary/build/
pullToRefreshlibrary/build/
slidingMenu_library/build/
umsocial_sdk_library_project/build/
weiboSDK/build/
widget_library/build/

